/* -------------------Fonts---------------------- */
.fuente1 {
  font-family: "Josefin Slab", serif;
  font-weight: 600;
  color: rgb(139, 126, 37);
  filter: drop-shadow(0 0px 20px rgb(15, 0, 15));
  font-size: 3.3rem;
}

.fuente2 {
  font-family: "Josefin Slab", serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: #90628c;
}

.fuente3 {
  font-weight: 800;
  color: rgb(125, 120, 23);
  filter: drop-shadow(0 0px 2px rgb(44, 42, 3));
}

.text-bg-secondary {
  color: rgb(16, 16, 22) !important;
  font-size: 1.1rem;
}

/* ---------------spacing----------------- */

p {
  margin: 0;
}
.padding-tb {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.espacio-text {
  margin-inline: 7px;
}

.card-doc {
  color: antiquewhite;
  padding: 5rem;
}

.margin-doc {
  margin: 0rem 0rem 3rem 0rem;
}

.link-doc {
  color: #d39bce6d;
}

/* -------------------Header---------------------- */

/* ----------------box código ------------------ */
.box-code {
  display: inline-block;
  background: rgba(40, 40, 60, 0.85);
  border: 1px solid #d39bce34;
  padding: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  border-radius: 10px;
  font-size: 1.2rem;
  filter: drop-shadow(0 0px 5px rgb(72, 69, 19));
}

/*--------------------Body------------------- */

body {
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
  line-height: 2.1rem;
  background: linear-gradient(
    90deg,
    rgba(25, 14, 24, 1) 0%,
    rgb(21, 21, 27) 15%,
    rgb(46, 44, 12) 50%,
    rgb(21, 21, 27) 85%,
    rgba(25, 14, 24, 1) 100%
  );
  color: antiquewhite;
}

.img-portada {
  filter: drop-shadow(0 0px 50px rgba(181, 65, 213, 0.41));
  width: 120%;
  padding-top: 3rem;
}

/* ---------------------Form--------------------- */
.form-textarea {
  color: antiquewhite;
  font-family: "Courier New", Courier, monospace;
  display: inline-block;
  background: rgba(40, 40, 60, 0.85);
  border: 1px solid #d39bce34;
  padding: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  border-radius: 10px;
  font-size: 1.2rem;
  filter: drop-shadow(0 0px 5px rgb(72, 69, 19));
}

.input-group-text {
  background: rgba(139, 80, 155, 0.53);
  border: 1px solid #d39bce6d;
  filter: drop-shadow(0 0px 5px rgb(72, 69, 19));
  font-size: 1.2rem;
  color: rgb(13, 2, 50);
}

.form-textarea:focus {
  color: antiquewhite;
  font-family: "Courier New", Courier, monospace;
  display: inline-block;
  background: rgba(40, 40, 60, 0.85);
  border: 1px solid #d39bce34;
  padding: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  border-radius: 10px;
  font-size: 1.2rem;
  filter: drop-shadow(0 0px 5px rgb(72, 69, 19));
}

.input-form-dev {
  display: inline-block;
  background: rgba(40, 40, 60, 0.85);
  border: 1px solid #d39bce34;
  border-radius: 10px;
  font-size: 1.2rem;
  filter: drop-shadow(0 0px 5px rgb(72, 69, 19));
  color: antiquewhite;
}

.input-form-dev:focus {
  display: inline-block;
  background: rgba(40, 40, 60, 0.85);
  border: 1px solid #d39bce34;
  border-radius: 10px;
  font-size: 1.2rem;
  filter: drop-shadow(0 0px 5px rgb(72, 69, 19));
  color: antiquewhite;
}

textarea::-webkit-scrollbar {
  width: 15px;
  background: rgb(23, 23, 32);
}

textarea::-webkit-scrollbar-thumb {
  background: rgb(61, 61, 95);
  box-shadow: inset -5px 0px 15px #d39bce34;
  border-radius: 7px;
}

/* ---------------------Nav----------------------- */

.bg-nav {
  background: rgb(11, 11, 15);
  padding: 1rem 0rem 1rem 0rem;
  box-shadow: inset 0px -5px 10px rgba(31, 1, 39, 0.53);
}

.logo-nav1 {
  color: antiquewhite;
  font-size: 1.8rem;
}

.logo-nav2 {
  color: #785275;
  filter: drop-shadow(0 0px 7px rgb(220, 49, 226));
  font-size: 1.7rem;
}

.text-nav-link {
  color: rgb(107, 107, 162);
  transition: 1s;
}

.navbar-api:hover {
  color: antiquewhite;
}

.text-nav-link:hover {
  color: rgb(189, 189, 232);
  filter: drop-shadow(0 0px 10px rgba(255, 255, 255, 0.582));
  transition: 1s;
}

.btn-nav {
  border: 2px solid #785275;
  color: #785275;
  filter: drop-shadow(0 0px 7px rgba(220, 49, 226, 0.54));
  font-weight: bold;
  border-radius: 12px;
  transition: 1s;
}

.btn-solicitud {
  color: antiquewhite;
  background: rgb(100, 44, 96);
  border: 1px solid #785275;
  filter: drop-shadow(0 0px 7px rgba(129, 111, 13, 0.756));
  font-size: 1.2rem;
  transition: 1s;
}

.btn-solicitud:hover {
  color: antiquewhite;
  background: rgb(93, 33, 89);
  border: 1px solid #785275;
  filter: drop-shadow(0 0px 12px rgba(177, 161, 69, 0.756));
  font-size: 1.2rem;
  transition: 1s;
}

.btn-nav:hover {
  border: 2px solid #d39bce;
  color: #d39bce;
  filter: drop-shadow(0 0px 20px rgba(255, 255, 255, 0.952));
  transition: 1s;
}

/* ------------------Footer------------------ */

.footer {
  margin-top: 15rem;
  padding: 3rem 0rem 5rem 0rem;
  color: antiquewhite;
  background: linear-gradient(
    90deg,
    rgb(70, 27, 67) 0%,
    rgb(39, 39, 52) 15%,
    rgb(64, 62, 19) 50%,
    rgb(39, 39, 52) 85%,
    rgb(70, 27, 67) 100%
  );
  box-shadow: inset 0px 5px 10px rgba(50, 48, 14, 0.343);
  filter: drop-shadow(0 -1px 7px rgba(13, 2, 50, 0.193));
}

/* ---------------Scrollbar----------------- */

body::-webkit-scrollbar {
  width: 22px;
  background: rgb(23, 23, 32);
}

body::-webkit-scrollbar-thumb {
  background: rgb(61, 61, 95);
  box-shadow: inset -5px 0px 15px rgb(44, 31, 138);
  border-radius: 7px;
}
